<div class="modal" id="alert-modal" style="z-index: 10">
    <div class="container">
        <h2 class="intro-title" id="alert-modal-text"></h2>
        <br>
        <h2 class="intro-title" id="alert-modal-text-2"></h2>
        <br/>
        <br/>
        <button type="submit" class="highlighted-options text-center margin-center" id="alert-modal-close">
            <h6>
                Close
            </h6>
        </button>
    </div>
</div>