<div class="modal" id="alert-modal" style="z-index: 10">
    <div class="container">
        <p class="h2 intro-title" id="alert-modal-text"></p>
        <br>
        <p class="h2 intro-title" id="alert-modal-text-2"></p>
        <br/>
        <br/>
        <button type="submit" class="highlighted-options text-center margin-center" id="alert-modal-close">
            <p class="h6">
                Close
            </p>
        </button>
    </div>
</div>