<div class="demo-button animated-btns">
    <div id="demo-btn-remove">
        <p class="h2 text-left p-strong p-color"><strong>X</strong></p>
    </div>
    
    <div class="demo-open">
        <p class="h4" style="display: block" id="demo-trigger">Watch the Demo HERE</p>
    </div>
</div>