<div class="modal" id="demo-modal">
    <form style="text-align: center">
        <div class="section-content" style="margin: 0 auto">

            <article>
                <h2 class="sec-titles">
                    Demo: How to Use "10000 Days" app
                </h2>
                <br />
                <p>Watch the 2 minute demo before previewing app!</p>
                <br />
                <div class="videoWrapper">
                    <!-- Copy & Pasted from YouTube -->
                    <iframe width="560" height="349"
                        src="https://drive.google.com/file/d/1S-mit3Pax7fOO4-itVq0T8AfWKIcHFy-/preview" frameborder="0"
                        allowfullscreen></iframe>
                </div>
            </article>

            <br />
            <br />

            <aside>
                <div style="text-align:left;">
                    <p><strong class="p-strong">Keep In Mind:</strong></p>
                    <br />
                    <p><span> - Visit or reload this <strong class="p-color">homepage </strong>to return to demo at anytime.</span></p>
                    <p> - The developer may and has every right to update data/app layout.
                    </p>

                    <div>
                        <div>
                            <img class='user-icon' src='/media/user.avif'>
                            </img>
                        </div>
                        <p><span> - <strong class="p-color">BE ON THE LOOK OUT FOR THIS ICON, which will give you SAMPLE
                                CREDENTIALS</strong> where needed if you do not wish to create an entire new client
                                profile.</span>
                        </p>
                    </div>
                    <br />
                    <br />
                    <button type="button" class="primary-btn text-center" id="demo-close" style="border-radius: 50px; padding: 25px">
                        <h4>
                            I have watched the demo and understand how to use app
                        </h4>
                    </button>
                </div>
            </aside>
        </div>
    </form>
</div>