<footer>
    <div class="footer-flex flex-row margin-center">
        <div>
            <p>Developed by César Siguencia</p>
            <p>Copyright ©2023, All rights reserved</p>
        </div>
        <div class="footer-right">
            <p>Did you like this website? I coded it!</p>
            <p>Check out more of <a target="_blank" href="https://cesarsiguencia.github.io/my-react-portfolio/" aria-label="Visit César Siguencia's developer portfolio for experience more projects like this one." style="color: black; font-weight: bold;">MY PROJECTS!</a></p>
        </div>
    </div>

</footer>