<a class="homepg-post-link justify-center" href={{url}} target="_blank">
    <div>
        <p class="text-center"><strong class="p-strong">Click To See
                Link</strong></p>

        <div class="og-image">
            <img src={{images}}>
        </div>

        <div class="og-image">
            <p>{{description}}</p>
        </div>
    </div>
</a>