<a class="homepg-post-link justify-center" href={{url}} aria-label="A sample of a registered user sharing a link with the post that they wrote." target="_blank">
    <div>
        <p class="text-center"><strong class="p-strong">Click To See
                Link</strong></p>

        <div class="og-image">
            <img src={{images}} alt="A sample of a registered user sharing a link that has an image." >
        </div>

        <div class="og-image">
            <p>{{description}}</p>
        </div>
    </div>
</a>