<div class="modal" id="login-modal">
    <form id="login-container" class="container">
        <h2 class="intro-title">Login In</h2>
        <div style="width: 250px; margin: 25px auto; padding: 25px 0; text-align: center; background-color: #FF9033;">
            <img style="height: 100px; margin: 15px auto; width: 100px" src="/media/user.avif"></img>
            <p><strong>Use the sample credentials below!</strong></p>
            <img style="width: 200px; display: block; margin: 15px auto" src="/media/creds.avif"></img>
            <p><strong>- - - - -</strong></p>
            <p><strong>Or create a new user by clicking HERE</strong></p>
        </div>
        <div class="form-components">
            <label for="form-email">Email</label>
            <input type="email" placeholder="Enter email" name="email" id="login-email" class="textbox"/>
        </div>

        <div class="form-components">
            <label for="form-password">Password</label>
            <input type="password" placeholder="Enter password" name="password" id="login-password" class="textbox"/>
        </div>

        <button type='submit' class="highlighted-options text-center margin-center" id="login-submit">
            <h6>
                Login
            </h6>
        </button>
        <br/>
        <p>If you have not signed up yet, please click <a href="/register" style="color:red; font-weight: bold">HERE</a></p>
        <br />
        <button type="button" class="highlighted-options text-center margin-center" id="modal-close">
            <h6>
                Close
            </h6>
        </button>
    </form>
</div>