<div class="modal" id="login-modal">
    <form id="login-container" class="container">
        <p class="h2 intro-title">Login In</p>
        <div style="width: 230px; margin: 25px auto; padding: 25px 0; text-align: center; background-color: #FF9033;">
            <img style="height: 100px; margin: 15px auto; width: 100px" src="/media/user.avif" alt="A black icon of a person." width="100" height="100"></img>
            <p><strong>Use the sample credentials below!</strong></p>
            <img style="width: 200px; display: block; margin: 15px auto" src="/media/creds.avif" alt="A screenshot of sample credentials one can use to login instead of creating an entire new profile to sample app." width="200"></img>
            <p><strong>- - - - -</strong></p>
            <p><strong>Or create a new user by clicking HERE</strong></p>
        </div>
        <div class="form-components">
            <label for="form-email">Email</label>
            <input type="email" placeholder="Enter email" name="email" id="login-email" class="textbox" maxlength="50"/>
        </div>

        <div class="form-components">
            <label for="form-password">Password</label>
            <input type="password" placeholder="Enter password" name="password" id="login-password" class="textbox" maxlength="25"/>
        </div>

        <button type='submit' class="highlighted-options text-center margin-center" id="login-submit">
            <p class="h6">
                Login
            </p>
        </button>
        <br/>
        <p>If you have not signed up yet, please click to <a href="/register" aria-label="Register if you haven't RSVP'ed yet." class="p-color">CREATE AN ACCOUNT HERE.</a></p>
        <br />
        <button type="button" class="highlighted-options text-center margin-center" id="modal-close">
            <p class="h6">
                Close
            </p>
        </button>
    </form>
</div> 