<div class="modal" id="logout-modal">
    <div class="container">
        <p class="h2 intro-title">You have successfully logged out! Stay tuned for more incoming details. See you in October!</p>
        <br/>
        <br/>
        <button class="highlighted-options text-center margin-center" id="modal-close">
            <p class="h6">
                Close
            </p>
        </button>
    </div>
</div>