<a class="og-style" href={{url}} target="_blank">
    <div class="og-image">
        <img src={{images}}>
    </div>

    <div class="og-image">
        <p>{{description}}</p>
    </div>
        

    
    
</a>