<div class="modal" id="trial-modal">

    <form class="container" style="text-align: center">
        <h3>
            Welcome to 10000 Days!
        </h3>

        <p>Watch the 2 minute demo before previewing app!</p>

        <br />

        <div class="videoWrapper">
            <!-- Copy & Pasted from YouTube -->
            <iframe width="560" height="349"
                src="https://drive.google.com/file/d/1_0FVgUyds6AZcGe751tFelJHap19wQQb/preview" frameborder="0"
                allowfullscreen></iframe>
        </div>

        {{!-- <div style="width: 30%; margin: 0 auto">
            <!-- Copy & Pasted from YouTube -->
             <img width="100%" src='/media/user.avif'></img>
        </div> --}}

        <br />
        <br />

        <div style="text-align:left;">
            <p><strong>Keep In Mind:</strong></p>
            <br />
            <p><span> - Click on 'LOGIN IN' or 'MY STUFF' to return to this demo at anytime.</span></p>
            <p> - The developer may and has every right to delete any new data added to this site by visitors at
                random.
            </p>


            <div>
                <div>
                    <img class='user-icon' src='/media/user.avif'>
                    </img>
                </div>
                <p><span> - BE ON THE LOOK OUT FOR THIS ICON, which will give you SAMPLE
                        CREDENTIALS where needed if you do not wish to create an entire new client profile.</span>
                </p>


            </div>

            <br />

            <button type="button" class="highlighted-options text-center margin-center" id="close-trial">
                <h6>
                    I have watched the demo and understand how to use the full app
                </h6>
            </button>
        </div>
    </form>
</div>