<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/media/icons/party.avif" />

    <meta name="description" property="og:title" content="10000 Days by CS" />
    <meta name="description" property="og:image" content="media/empire.png" />
    <meta name="description" property="og:url" content="https://www.google.com" />
    <meta name="description"
      property="og:description"
      content="Come celebrate with me on my 10,000th day of life!"
    />



    <link rel="stylesheet" href="/style/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Rock+Salt&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Amaranth&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Amaranth&family=Raleway&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Amaranth&family=Raleway:wght@400;600;800&display=swap"
        rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />


    <title>10,000 Day Bash!</title>
</head>

<body>
    {{>navbar}}
    {{#if loggedIn}}
    {{>logout-modal}}
    {{else}}
        {{>login-modal}}
    {{/if}}

    {{{body}}}
    {{>footer}}

    {{#if loggedIn}}
    <script src="script/logout.js"></script>
    {{else}}
    <script src="script/login.js"></script>
    {{/if}}
    <script src="script/global.js"></script>

    
</body>

</html>