{{> alert}}
{{> trial-modal}}

<audio id="intro-audio">
    <source src="media/audio/Got To Be Real - Intro.mp3">

</audio>
{{!-- <audio id="bottom-audio">
    <source src="media/audio/Corazon Sin Cara.mp3">

</audio> --}}
<main>
    <div class="hero flex-row justify-center">
        <div class="welcome-box">
            <div id="welcome-carousel">
            </div>
        </div>
    </div>

    <section></section>

    <section class="sec" id="introduction">
        <div class="section-content margin-center">
            <article>
                <h2 class="sec-titles text-left">Welcome To My 10,000 Days Of Life!</h2>

                <div class="content-divs">
                    <h2></h2>
                    <br />

                    <p>Celebrate with me on this unique and historic day as I reach a huge milestone in my life. Create
                        memories, dance to great music, and enjoy this festivity that happens once in a lifetime!</p>
                    <br />

                    <div class="intro-sub-btns-container">
                        <div class="justify-center">
                            <p class="p-strong"><strong>Save The Date!</strong></p>
                            <br />
                            <p>Click here to add this event to your default system calendar!</p>

                            <button class="sub-btns text-center">
                                <a class="a-fix" target="_blank"
                                    href="https://calendar.google.com/calendar/render?action=TEMPLATE&dates=20231022T010000Z%2F20231022T040000Z&location=305%20West%207th%20Avenue&text=Cezzie%27s%2010%2C000th%20Day%20B-Day%20Bash">Add
                                    to Calendar</a>
                            </button>
                        </div>

                        <div class="justify-center">
                            <p class="p-strong"><strong>RSVP already?</strong></p>
                            <br />
                            <p> Login in to change your info, RSVP status, or to interact with other invited guests</p>
                            <button class="sub-btns text-center" id="login-button-body">
                                <p>Login In</p>
                            </button>
                        </div>
                    </div>

                    <br />
                    <br />

                    <p class="p-strong">
                        <strong>If you haven't RSVP'ed yet,
                            <strong class="p-color">
                                click to immediately save a spot!
                            </strong>
                        </strong>
                    </p>

                    <div class="content-divs">
                        <div class="primary-btn margin-center">
                            <button type="submit" class="highlighted-options text-center margin-center animated-btns">
                                <a type="submit" href="/register">
                                    <h6>Reserve Your Spot TODAY!</h6>
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </article>

            <aside>
                <br />
                <h4>Checkout posts from registered guests. Join the conversation
                    when you RSVP!</h4>
                <div>
                    <div class="visuals margin-center">

                        <div class="overflow-hid flex-row">
                            {{#each posts as |post|}}
                            <div class="post-slides">
                                <div class="homepg-post-previews ">
                                    <div class="margin-center">
                                        {{> attendee-posts post}}

                                        {{#if post.openGraphMaterial}}
                                        <a class="homepg-post-link justify-center" href={{post.openGraphMaterial.url}}
                                            target="_blank">
                                            <div>
                                                <p class="text-center">Click To See Link</p>
                                                {{> og post.openGraphMaterial}}

                                            </div>

                                        </a>

                                        {{else}}
                                        <div class="party-gif-block justify-center">
                                            <img src="/media/icons/peanuts-dancing.gif"
                                                class="party-gif margin-center"></img>
                                        </div>




                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>

                        <div class="timer-bar">
                            <div class="timer-progress"></div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </section>

    <section class="sec section-venue" id="venue">
        <div class="section-content margin-center">
            <aside>
                <div class="overflow-hid flex-row">
                    <a class="venue-slides" href="https://meauxspace.com" target="_blank">
                        <img class="venue-img" src="/media/lounge.png">
                    </a>

                    <a class="venue-slides" href="https://meauxspace.com" target="_blank">
                        <img class="venue-img" src="/media/lounge-2.png">
                    </a>

                    <a class="venue-slides" href="https://meauxspace.com" target="_blank">
                        <img class="venue-img" src="/media/lounge-3.png">
                    </a>

                </div>

            </aside>

            <article>
                <h2 class="sec-titles text-left">Meaux Space: A Venue of it's own class</h2>

                <div class="venue-info">
                    <div class="venue-info-blocks margin-center">
                        <div>
                            <p>We will unite at the Meaux Space in New York City, footsteps away from the Empire State
                                Building and Madison Square Garden with a view of Hudson Yards, a full size kitchen, and
                                balcony. </p>
                            <br>
                            <p>A 5 minute walk from New York Penn Station and a 12 minute walk from Port Authority Bus
                                Terminal. One could even come to town for the party and leave on the same day!</p>
                            <br />
                            <p>Want to see the venue? <strong class="p-color">click on the images!</strong></p>
                        </div>

                    </div>

                    <div class="venue-info-blocks margin-center">
                        <div class="overflow-hid map-holder">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6045.368314461362!2d-73.99814753169113!3d40.74697487178898!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a55ff1ff8b%3A0x53ea09811ae57911!2s305%207th%20Ave%2C%20New%20York%2C%20NY%2010001!5e0!3m2!1sen!2sus!4v1689811181454!5m2!1sen!2sus"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade" style="border:0;" allowfullscreen=""
                                loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="skylark-img"></iframe>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <section class="sec section-signup" id="ameneties">
        <div class="section-content margin-center">
            <article>
                <h2 class="sec-titles text-left">What to expect at this party of the year!</h2>

                <div class="content-divs">
                    <div>
                        <p>A handpicked selection of my favorite jams to dance. Get ready to show off your dance moves!
                        </p>
                        <br />
                        <div class="logos transparent">
                            <div class="logos-slide">
                                <img src="/media/albums/Culture II.avif" alt="a pop album cover">
                                <img src="/media/albums/Thriller.avif" alt="a pop album cover">
                                <img src="/media/albums/Pink Friday.avif" alt="a pop album cover">
                                <img src="/media/albums/Prince-Royce.avif" alt="a pop album cover">
                                <img src="/media/albums/The Blueprint 3.avif" alt="a pop album cover">
                                <img src="/media/albums/Year Of The Gentleman.avif" alt="a pop album cover">
                                <img src="/media/albums/Party In The USA.avif" alt="a pop album cover">
                            </div>
                        </div>
                    </div>
                    <p>Fine food and complemetary wine from top catering partners.</p>
                    <br />
                    <div class="logos">
        
                            <div class="slider-wrapper">
                            <div class="slider">
                                <div class="food-slides" id="slide-1">
                                    
                                    <img src="media/food/pasta.avif" alt="spaghetti with meatballs plate">
                                    <img src="media/food/wine.avif" alt="wine with assorted bread and cheese">
                                </div>

                                <div class="food-slides" id="slide-2">
                                    <img src="media/food/fish.avif"
                                        alt="chilean sea bass dish with chimichurri sauce and salad bed underneath">
                                    <img src="media/food/ice cream.avif"
                                        alt="ice cream tiramisu on glass cups with oreos and sliced strawberry">

                                </div>

                                <div class="food-slides" id="slide-3">
                                    <img src="media/food/dessert.avif"
                                        alt="Frozen maple syrup souffle with almonds in cups">
                                    <img src="media/food/meat.avif"
                                        alt="Filet mignon on a cutting board">
                                </div>

                            </div>

                            <div class="slider-nav">
                                <a class="slider-btn" id="food-1" href="#slide-1"></a>
                                <a class="slider-btn" id="food-2" href="#slide-2"></a>
                                <a class="slider-btn" id="food-3" href="#slide-3"></a>
                            </div>


           
                        </div>
                        

                    </div>
                </div>


            </article>

            <aside>
                <div class="intro-div">
                    <div>
                        <p>And much more, including <strong class="p-color">games, a photo booth, and raffles!</strong>
                        </p>
                    </div>
                    <div class="visuals margin-center">

                        <button type="submit" class="highlighted-options text-center margin-center animated-btns">
                            <a type="submit" href="/register">
                                <h6>What are you waiting for? Sign up RIGHT NOW!</h6>
                            </a>
                        </button>
                    </div>
                </div>
            </aside>
        </div>
    </section>
</main>

{{!-- this was switched to it's own inline script because the appendChild action is massively delayed in home.js which
has a lot of functions already, causing a huge noticable gap in the carousel, resulting in a cut off an uneven slide of
images. --}}
<script>
    var copy = document.querySelector(".logos-slide").cloneNode(true);
    document.querySelector('.logos').appendChild(copy)
</script>
{{!-- ------------------ --}}

<script src="/script/hero.js"></script>
<script src="/script/home.js"></script>