{{> trial-modal}}
<div class="hero flex-row justify-center">
    <audio id="intro-audio">
        <source src="media/audio/Got To Be Real - Intro.mp3">

    </audio>
    <div class="welcome-box">
        <div id="welcome-carousel">

        </div>
    </div>
</div>

<script src="/script/intro.js"></script>
<script src="/script/trial.js"></script>