:root {
    --primary-color: white;
    --secondary-color: #a75418;
    --third-color: rgba(40, 40, 40);
    --fourth-color: #f4882f;
    --fifth-color: rgb(104, 155, 172);
    --sixth-color: #1e8339;
    --linear: linear-gradient(#9c4e16, #b86d38);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: var(--secondary-color);
}

html{
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* =============================================== */
/* --------------------GLOBAL--------------------- */
/* =============================================== */

/* ------------------- Fonts --------------------*/

p {
    color: var(--primary-color);
    font-family: "Euclid Circular A", "Poppins";
}

.h2 {
    color: var(--primary-color);
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 100;
}

.h4{
    color: var(--primary-color);
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 100;
}

.h6 {
    font-family: copperplate;
    text-align: center;
    font-size: 22px;
    display: block
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

.a-fix {
    display: block;
    font-family: "Euclid Circular A", "Poppins";
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.sec-titles{
    font-size: 40px;
}

.welcome-titles {
    display: inline;
    font-size: 60px;
}

.p-strong {
    font-size: 18px;
}

.p-color {
    color: rgb(242, 255, 0)
}

/* ------------ Flex & Container Props ------------- */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex{
    display: flex;
}

.margin-center {
    margin: 0 auto
}

.justify-center {
    justify-content: center;
    align-items: center;
}

.overflow-hid {
    overflow: hidden;
}

/* ------------------- Buttons ------------------- */

button {
    display: block;
    color: var(--primary-color);
    cursor: pointer;
    width: 75%;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(40, 40, 40);
    border: black 3px solid;
    transition: ease-in-out 0.5s;
}

.animated-btns {
    transition: ease-in-out 1s;
    scale: 1;
}

button:hover {
    border:var(--primary-color)3px solid;
}

.intro-sub-btns-container {
    display: flex;
    background-color: var(--fourth-color);
    border-radius: 10px;
}

.intro-sub-btns-container>div {
    width: 40%;
    margin: 0 auto
}

.sub-btns {
    background-color: var(--third-color);
    margin: 5px auto 20px auto;
    width: 250px;
    border-radius: 28px;
    display: block;
    color: var(--primary-color);
    font-family: Arial;
    font-size: 16px;
    padding: 15px 30px;
    margin-top: 25px;
    text-decoration: none;
}

#demo-close{
    background-color: var(--fifth-color);
}


.sub-btns:hover {
    background-color: var(--sixth-color);
    border: var(--sixth-color) 3px solid
}

.primary-btn {
    width: 100%;
    background-color: var(--third-color);
    padding: 10px 10px 10px 10px;
    border-radius: 10px
}

.welcome-button {
    display: block;
    margin: 25px auto;
    padding: 25px 25px;
    border: 2px solid #FFC133;
    border-radius: 30px;
    width: 75%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: 1.5s
}

.welcome-button:hover {
    background-color: #c7834b;
    transition: 500ms ease-in-out
}

.welcome-button-font {
    font-size: 25px;
}

/* -------------------------Login In Partial ------------------- */

.modal {
    background: rgba(0, 0, 0, 0.9);
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    z-index: 10;
    height: 0px;
}

.container {
    border-radius: 5px;
    margin: 50px auto;
    padding: 15px 15px;
    width: 700px;
}

.user-icon {
    display: block;
    height: 100px;
    width: 100px;
    margin: 15px auto
}

/* #audio-trigger {
    display: block;
    border: 3px white dotted;
} */

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video {
    display: block;
    height: 100%;
}

/* ---------------------- Header ------------------------- */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    background-color: var(--secondary-color);
    background-image: var(--linear);
}

.nav-links {
    display: flex;
    color:var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
    width: 20%;
    height: 50px;
    text-align: center;
    font-family: copperplate;
    margin: auto;
    opacity: 1
}

.highlighted-options {
    background-color: #FF9033;
}

.nav-links-selected {
    transition: ease-in-out 0.2s;
}

.nav-links-selected:hover {
    opacity: 1;
    border-bottom: 3px solid var(--primary-color);
}

/* ------------------- Body --------------------*/

main{
    width: 100%;
}

.sec{
    position: relative;
    /* relative parent must be at 0 index for background images to function and for JS features to continue to work on top of the parent. Child background imgs can remain as a negative index */
    z-index: 0;
    transition: ease-in-out 1s;
}

.fireworks-bg{
    min-width: 100%;
    background-image: url('../media/bg-png/fireworks.gif');
    filter: invert(1);
    opacity: 0.9;
    min-height: 100vh;
    position: absolute;
    z-index: -1
}

.city-bg{
    width: 100%;
    background-image: url('../media/bg-png/city.avif');
    background-repeat: repeat-x;
    background-size: auto 75%;
    height: 1000px;
    position: absolute;
    bottom: -490px;
    z-index: -1
}

.balloons-bg{
    min-width: 100%;
    background-image: url('../media/bg-png/confetti.gif');
    background-repeat: repeat;
    background-size: auto 100%;
    min-height: 100vh;
    opacity: 0.15;
    position: absolute;
    z-index: -1
}

.sec:nth-child(even) {
    background-color: var(--fourth-color)
}

.sec:nth-child(odd){
    background-color: var(--secondary-color);
}



.section-content{
    width: 1500px;
    padding: 20px 20px 20px 20px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

article {
    width: 60%
}

aside {
    width: 37%;
    border-radius: 10px;
    height: auto
}

/* --------------------------- Footer ------------------------ */

footer {
    height: fit-content;
    background-color: var(--secondary-color);
    background-image: var(--linear);
}

.footer-flex {
    width: 90%;
    padding: 20px 20px 20px 20px;
    justify-content: space-between;
}

.footer-right {
    text-align: right;
}


/* ======================= Intro PG ======================= */

/* --------- Hero -------- */
.hero-holder{
    overflow: hidden;
}

.hero {
    height: 100vh;
    scale: 1;
    background-image: url('../media/empire.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: ease-in-out 2s;
    z-index: -1
}

.welcome-box {
    transition: ease-in-out 1s;
    backdrop-filter: blur(0px);
}


@keyframes slide-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.welcome-title-holder {
    visibility: visible;
    animation: fadeInAnimation ease-in 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* ----------------------- Intro Sec ------------------------ */

.content-divs>div {
    padding: 30px 0px
}

.visuals {
    font-size: 25px;
    color: white;
    width: 80%;
    border-radius: 25px;
    margin: 25px auto;
    background-color:var(--fifth-color);
    border-radius: 10px;
    padding: 10px 10px;
}

.post-slides, .venue-slides {
    width: 100%;
    flex-shrink: 0;
    transition: ease-in-out 1s;
}

.post-slides{
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepg-post-previews {
    font-size: 15px;
    height: auto;
    display: flex;
}

.homepg-post-link{
    display: flex;
    background-color: none;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    transition: ease-in-out 0.5s;
    padding: 5px;
    margin: 5px;
    height: auto;
}

.homepg-post-link:hover{
    background-color: var(--fourth-color);
}

.party-gif-block{
    display: flex;
}

.party-gif{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.timer-bar {
    margin: 15px 0;
    height: 5px;
    background-color: var(--primary-color);
}

.timer-progress {
    width: 0%;
    background-color: var(--fourth-color);
    background: linear-gradient(.25turn, var(--fourth-color), 99%, var(--primary-color));
    height: 5px;
    transition: ease-in-out;
}

/* ------------------ Venue Section ----------------- */

.venue-slides>img {
    display: block;
    margin: 0 auto;
    height: 550px;
    width: 550px;
    object-fit: cover;
    background-size: 100%;
    transition: ease-in-out 1s;
    scale: 1
}

.venue-slides>img:hover {
    scale: 1.2
}

.venue-info {
    display: flex;
    margin: 30px auto;
}

.venue-info-blocks {
    width: 45%;
    display: flex;
    align-items: center;
}

.map-holder>iframe {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    scale: 1;
    transition: ease-in-out 1s;
}

.map-holder>iframe:hover {
    scale: 1.1
}

/* ------------------ Ameneties Section ----------------- */

/* ========================== Register PG ========================== */

.textbox {
    padding: 10px 0px 10px 0px;
    margin: 10px auto;
    display: block;
    width: 100%
}

label {
    font-family: Raleway;
    color:var(--primary-color);
    width: 100%
}

input[type="radio"] {
    display: inline;
    width: 20px;
}

.form-components {
    margin: 20px 0;
}

.attendance>label {
    display: inline;
    width: 50%;
    margin: 10px 0;
}

.attendance>input {
    display: inline;
}

.aside-content {
    font-size: 18px;
    background-color:var(--fifth-color);
    border-radius: 10px;
    padding: 20px 20px
}


/* ========================== Dashboard PG =======================*/

.db-content{
    align-items: normal
}

.db-posts {
    border-radius: 10px;
    margin: 10px auto;
    padding: 0 10px;
    border-bottom: 3px var(--primary-color) solid;
}

.db-posts-display {
    display: flex;
    justify-content: space-between;
}

.db-post-link-scale {
    scale: 1;
    transition: ease-in-out 0.5s
}

.db-post-link-scale:hover {
    scale: 1.05
}

.post-text {
    font-size: 20px
}

.post-link {
    display: block;
    color: var(--fourth-color);
    font-weight: bold;
    text-decoration: underline;
    margin: 10px auto
}

.posts-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.posts-logos>img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    transition: ease-in-out 0.2s;
    scale: 1
}

.posts-logos>img:hover {
    scale: 1.2
}

.comment-section {
    margin: 10px auto;
    width: 90%;
    padding: 10px 10px;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.comment-textbox {
    display: block;
    height: 0px;
    opacity: 0;
    width: 100%;
    border-radius: 10px;
}

.og-style {
    display: flex;
    padding: 10px 10px;
    height: auto
}

.og-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 0 20px;
    margin: 10px auto;
}

.og-image>img {
    width: 100%;
    margin: 0 auto;
    max-height: 750px;
    object-fit: cover;
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.logos{
    overflow: hidden;
    border-radius: 10px;
    padding: 30px 0;
    background-color: var(--fourth-color);
    white-space: nowrap;
    position: relative;
}

.transparent:before,
.transparent:after{
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index:4;
}

.transparent:before{
    left: 0;
    background: linear-gradient(to right, var(--fourth-color), rgba(255,255,255,0) 40%);
}

.transparent:after{
    right: 0;
    background: linear-gradient(to left,  var(--fourth-color) , rgba(255,255,255,0) 40%);
}

.logos:hover .logos-slide{
    animation-play-state: paused;
}

.logos-slide{
    display: inline-block;
    margin: 0 0;
    animation: 15s slide infinite linear;
}

.logos-slide > img{
    height: 200px;
    margin: 0 40px;
    object-fit: cover;
}

.slider-wrapper{
    position: relative;
    justify-content: center;
}

.slider{
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin: 0 auto;
    margin-bottom: 10px;
}

.food-slides{

    display: flex;
    justify-content: center;
    width: 100%;
        flex: 1 0 100%;
        scroll-snap-align: start;
    object-fit: contain;
}

.food-slides img{
    height: 350px;
    margin: 0 10px;
    object-fit: cover;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}


.slider-nav a {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    transition: opacity ease 250ms;
}

#food-1{
    opacity: 1
}

.media-player{
    display: flex;
    background-color: black;
    border-radius: 10px;
    position: relative;
}

.media-fixed{
    display: flex;
    z-index: 1
}

.media-controls{
    display: block;
}

.media-controls > img{
    display: inline-block;
    height: 50px;
    border-radius: 100px;
    border: 5px solid black;
    background-color: white;
    margin: 0 10px;
}

.playing-gif{
    width: 100%;
    border-radius: 10px;
    background-repeat: repeat-x;
    background-image: url('../media/bg-png/playing.gif');
    background-size: auto 120%;
    opacity: 0.6;
    height: 30px;
    bottom: 0px;
    position: absolute;
    z-index: -1;
}

.demo-button{
    position: fixed;
    right: 0px;
    bottom: 5%;
    width: 200px;
    height: auto;
    scale: 1;
    opacity: 0;
    z-index: 1
}

.demo-open{
    background-color: var(--third-color);
    padding: 10px 10px;
    border-radius: 10px;;
    border: 3px solid var(--primary-color);
    transition: ease-in-out 0.5s
}

.demo-open:hover{
    background-color: var(--fifth-color);
}


/* Media Queries ------------------------- */

@media screen and (max-width: 1600px) {
    .section-content{
        width: 1200px;
        justify-content: space-between;
    }

    article{
        width: 53%;
    }

    aside{
        width: 44%
    }

    .food-slides img{
        height: 250px;
    }
}

@media screen and (max-width: 1200px) {
    .section-content{
        width: 1000px;
    }

    .intro-sub-btns-container{
        display: flex;
        flex-wrap: wrap;
    }

    .intro-sub-btns-container>div{
        width: 90%;
        margin: 0 auto
    }

    article, aside{
        width: 49%;
    }

    .venue-info{
        display: flex;
        flex-wrap:wrap;
    }

    .venue-info>div{
        width: 100%;
    }

    .map-holder{
        margin: 10px auto
    }

    .food-slides img{
        height: 200px;
    }

}

@media screen and (max-width: 1000px) {
    .section-content{
        display: flex;
        flex-wrap: wrap;
        width: 100%
    }

    .section-content>*{
        width: 90%;
        margin: 10px auto
    }

    .visuals{
        width: 100%;
        min-height: auto;;
    }

    .food-slides img{
        height: 250px;
    }


}

@media screen and (max-width: 768px) {
    .mobile-toggle {
        width: 100%;
        height: 100%;
        padding: 10px 10px
    }

    #mobileMenu {
        transition: all 0.5s ease-in-out;
    }

    .mobile-options {
        background-color: var(--primary-color);
        width: 35px;
        height: 5px;
        margin: 5px auto;
        transition: all 0.5s ease-in-out;
    }

    .nav-links {
        opacity: 0;
        height: 0px;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        transition: ease-in-out 1s
    }

    .mobile-effect {
        transition: ease-in-out 0.75s;
        opacity: 1;
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
        margin: auto
    }

    #mobile-menu.active .mobile-options:nth-child(2) {
        transition: all 0.5s ease-in-out;
        opacity: 0;
    }

    #mobile-menu.active .mobile-options:nth-child(1) {
        transition: all 0.5s ease-in-out;
        transform: translateY(10px) rotate(45deg);
    }

    #mobile-menu.active .mobile-options:nth-child(3) {
        transition: all 0.5s ease-in-out;
        transform: translateY(-10px) rotate(-45deg);
    }
}

@media screen and (max-width: 768px) {
    .sub-btns{
        width: 100%;
    }

    .iframe, img{
        width: 100%
    }

    .logos-slide >img{
        width: 200px;
    }

    .food-slides img{
        width: 250px;
    }

    .container{
        width: 90%
    }

    .media-info{
        width: 100%
    }

    .media-fixed {
        display: block;
        margin: 0 auto;
    }

    .media-controls{
        display: flex;
        width: 150px;;
        margin: 0 auto;
        justify-content: space-evenly;
    }

    .media-controls >img{
        width: auto;
    }


}

@media screen and (max-width: 650px) {
    .og-style{
        display: block;
    }

    .map-holder{
        width: 100%;
    }

    .map-holder>iframe {
        width: 100%;
        height: 300px;
    }

    .venue-slides>img {
        width: 100%;
        height: auto;
    }
    .section-content{
        padding: 20px 5px 20px 5px;
    }
    
    .venue-slides>img:hover {
        scale: 1.2
    }

    .db-posts-display{
        display: block
    }

    .db-posts-display > div{
        margin: 20px auto;
    }

    .posts-logos{
        width: 25%;
        justify-content: center;
    }

    .footer-flex{
        display: block;
    }

    .footer-flex>div{
        margin: 10px auto;
        text-align: center;
    }

    .food-slides{
        display: block;
    }

    .food-slides img{
        display: block;
        width: 100%;
        height: auto;
        padding: 0 10px;
        margin: 10px auto
    }

}